{% extends 'base.html' %}

{% block content %}

    <h1 class="page-header">Descendants</h1>

    <div class="row">
        <div class="col-md-12">
            {% include 'descendantsSearch.html' %}
        </div>
    </div>

    {% if result.descendants %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Layer</th>
                <th>Tag</th>
                <th>Id</th>
                <th>Parent</th>
                <th>Author</th>
            </tr>
            </thead>
            <tbody>
            {% for r in result.descendants %}
            <tr>
                <td><a href="/repository/{{ r.layer }}">{{ r.layer }}</a></td>
                <td>{{ r.tag }}</td>
                <td><a href="/image/{{ r.id }}">{{ r.shortId }}</a></td>
                <td><a href="/image/{{ r.parent }}">{{ r.shortParent }}</a></td>
                <td>{{ r.author }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    {% else %}
        {% if not submited %}
        Press button to find descendants.
        {% else %}
        No results found. Do you want to <a href="/indexupdate">refresh index</a>?
        {% endif %}
    {% endif %}


{% endblock %}
