{% extends 'base.html' %}

{% block content %}
   <h1 class="page-header">All Repositories</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>name</th>
                    <th>tags</th>
                    <th>description</th> 
                </tr>
            </thead>
            <tbody>
                {% for r  in results %}
                    <tr>
                        <td><a href="/repository/{{ r.name }}">{{ r.name }}</a></td>
                        <td>
                            {% for tag,img in r.tags.iteritems() %}
                            <a href="/image/{{ img }}"><span class="label label-primary">{{ tag }}</span></a>
                            {% endfor %}
                        </td>
                        <td>{{ r.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
