{% extends 'base.html' %}

{% block content %}
   <h1 class="page-header">All Repositories</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>name</th>
                    <th>description</th>
                </tr>
            </thead>
            <tbody>
                {% for r  in result.results %}
                    <tr>
                        <td><a href="/repository/{{ r.name }}">{{ r.name }}</a></td>
                        <td>{{ r.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
