{% extends 'base.html' %}

{% block content %}
    <h3>{{ repo_name }}</h3>

    <div class="col-md-6">
        pull this repository:
        <input type="text" id="pull_cmd" class="form-control" style="cursor: pointer"  onClick="this.select();"  readonly value="docker pull {{ config.REGISTRY_PULL }}/{{ repo_name }}">
    </div>

    <div class="clearfix"></div>
    <h4>ancestry graph<h4>
    <!-- tree graph -->
    <div id="graph"></div>
    <script> var data = {{ ancestry_list |tojson }}</script>
    <link href="{{ config.BASE_URL }}static/css/d3tree.css" rel="stylesheet">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{ config.BASE_URL }}static/js/d3tree.js"></script>

  
    <h4>tags</h4>
    <table border="1">
        <tr>
            <th>tag</th>
            <th>image</th>
        </tr>
        {% for k,v  in tags.iteritems() %}
        <tr>
            <td><a href="{{ config.BASE_URL }}image/{{ v }}">{{ k }}</a></td>
            <td>{{ v }}</td>
        </tr>
        {% endfor %}
    </table>

    <h4>images</h4>
    <table border="1">
        <tr>
            <th>id</th>
        </tr>
        {% for r  in images %}
        <tr>
            <td><a href="{{ config.BASE_URL }}image/{{ r.id }}">{{ r.id }}</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
