{% extends 'base.html' %}

{% block content %}
    <h3>{{ repo_name }}</h3>
    <div class="row">
        <div class="col-md-6">
            pull this repository:
            <input type="text" id="pull_cmd" class="form-control" style="cursor: pointer"  onClick="this.select();"  readonly value="docker pull {{ config.REGISTRY_PULL }}/{{ repo_name }}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
	  Find descendants:
	  <a href="{{ config.BASE_URL }}descendants/bylayer/{{ repo_name }}/">descendants</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
	Find child tags
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4>tags</h4>
            <table border="1">
                <tr>
                    <th>tag</th>
                    <th>image</th>
                </tr>
                {% for k,v  in tags.iteritems() %}
                <tr>
                    <td>{{ k }}</td>
                    <td><a href="{{ config.BASE_URL }}image/{{ v }}">{{ v }}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>ancestry graph</h4>
            <!-- tree graph -->
            <div id="graph"></div>
            <script> var data = {{ ancestry_list |tojson }}</script>
            <link href="{{ config.BASE_URL }}static/css/d3tree.css" rel="stylesheet">
            <script src="http://d3js.org/d3.v3.min.js"></script>
            <script src="{{ config.BASE_URL }}static/js/d3tree.js"></script>
        </div>
    </div>

{% endblock %}
